/***************************** Div Block *******************************/

.block-progress {
	opacity: .2;
	filter: alpha(opacity=50);
	pointer-events: none;
}

.loading {
	width: 35px;
	height: 20px;
	background-image: url(https://s3.amazonaws.com/trylocalness-com/lws/img/loading_ellipsis.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: inline-block;
}

ul {
	list-style-type: none;
}

ul.wps0{
	-webkit-padding-start:0px !important;
}

.r5 {
	right: 5px !important;
}

.m0 {
	margin: 0 !important;
}

.mb0 {
	margin-bottom: 0px !important;
}

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb25 {
	margin-bottom: 25px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb35 {
	margin-bottom: 35px;
}

.mb40 {
	margin-bottom: 40px;
}

.mb45 {
	margin-bottom: 45px;
}

.mb50 {
	margin-bottom: 50px;
}

.mb55 {
	margin-bottom: 55px;
}

.mb60 {
	margin-bottom: 60px;
}

.mb65 {
	margin-bottom: 65px;
}

.mb70{
	margin-bottom: 70px;
}

.mtp10 {
	margin-top: 10%;
}

.mtp20 {
	margin-top: 15%;
}

.mtp20 {
	margin-top: 20%;
}

.mtp25 {
	margin-top: 25%;
}

.mt0 {
	margin-top: 0px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt25 {
	margin-top: 25px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mt35 {
	margin-top: 35px !important;
}

.mt40 {
	margin-top: 40px !important;
}

.mt45{
	margin-top: 45px !important;
}

.mt50{
	margin-top: 50px !important;
}

.mt60{
	margin-top: 60px !important;
}

.mt70{
	margin-top: 70px !important;
}

.mt80{
	margin-top: 80px !important;
}

.mt90{
	margin-top: 90px !important;
}

.mt100{
	margin-top: 100px !important;
}

.mr0 {
	margin-right: 0px !important;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr15 {
	margin-right: 15px;
}

.mr20 {
	margin-right: 20px;
}

.mr25 {
	margin-right: 25px;
}

.mr30 {
	margin-right: 30px;
}

.mr35 { margin-right: 35px; }
.mr40 { margin-right: 40px; }
.mr45 { margin-right: 45px; }
.mr50 { margin-right: 50px; }
.mr55 { margin-right: 55px; }
.mr60 { margin-right: 60px; }
.mr65 { margin-right: 65px; }
.mr70 { margin-right: 70px; }
.mr75 { margin-right: 75px; }
.mr80 { margin-right: 80px; }
.mr85 { margin-right: 85px; }
.mr90 { margin-right: 90px; }
.mr95 { margin-right: 95px; }
.mr100 { margin-right: 100px; }

.ml0 {
	margin-left: 0px !important;
}

.ml5 {
	margin-left: 5px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.ml15 {
	margin-left: 15px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.ml25 {
	margin-left: 25px !important;
}

.ml30 {
	margin-left: 30px !important;
}

.ml35 {
	margin-left: 35px !important;
}

.ml40 {
	margin-left: 40px !important;
}

.ml45 {
	margin-left: 45px !important;
}

.ml50 {
	margin-left: 50px !important;
}

.mlp5 {
	margin-left: 5%;
}

.p0 {
	padding: 0px !important;
}

.p5 {
	padding: 5px !important;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.pt0 {
	padding-top: 0px !important;
}

.pt5 {
	padding-top: 5px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pt15 {
	padding-top: 15px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pt25 {
	padding-top: 25px !important;
}

.pt30 {
	padding-top: 30px !important;
}

.pr0 {
	padding-right: 0px !important;
}

.pr5{
	padding-right: 5px !important;
}

.pr10 {
	padding-right: 10px !important;
}

.pr15 {
	padding-right: 15px !important;
}

.pr20 {
	padding-right: 20px !important;
}

.pr25 {
	padding-right: 25px !important;
}

.pr30 {
	padding-right: 30px !important;
}

.pr35 {
	padding-right: 35px !important;
}

.pr40 {
	padding-right: 40px !important;
}

.pr45 {
	padding-right: 45px !important;
}

.pr50 {
	padding-right: 50px !important;
}

.pr100 {
	padding-right: 100px !important;
}

.pl0 {
	padding-left: 0px !important;
}

.pl5 {
	padding-left: 5px !important;
}

.pl10 {
	padding-left: 10px !important;
}

.pl15 {
	padding-left: 15px !important;
}

.pl20 {
	padding-left: 20px !important;
}

.pl25 {
	padding-left: 25px !important;
}

.pl30 {
	padding-left: 30px !important;
}

.pl35 {
	padding-left: 35px !important;
}

.pl40 {
	padding-left: 40px !important;
}

.pl45 {
	padding-left: 45px !important;
}

.pl50 {
	padding-left: 50px !important;
}

.pl55 {
	padding-left: 55px !important;
}

.pb0 {
	padding-bottom: 0px !important;
}

.pb5 {
	padding-bottom: 5px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pb15 {
	padding-bottom: 15px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pb25{
	padding-bottom: 25px !important;
}

.pb30{
	padding-bottom: 30px !important;
}

.bg-white-light {
	background-color: #f3f3f3 !important;
}

.bg-white {
	background-color: #f5f3f3 !important;
}

.bg-white-two {
	background-color: #ffffff !important;
}

.bg-ugly-blue {
	background-color: #2f7e8b !important;
}

.bg-rouge {
	background-color: #911d21 !important;
}

.bg-plum {
	background-color: #721519 !important;
}

.bg-greyish-brown {
	background-color: #525252 !important;
}

.bg-light-sage {
	background-color: #b8e986 !important;
}

.bg-blue {
	background-color: #1c61ab !important;
}

.bg-gray {
	background-color: #dbdbdb !important;
}

.bg-dark-gray {
	background-color: #d7d7d7 !important;
}

.bg-transparent {
	background-color: transparent !important;
}

.bg-gray {
	background-color: #f4f4f4 !important;
}

.tc-rouge {
	color: #911d21 !important;
}

.tc-white {
	color: #f5f3f3 !important;
}

.tc-white-two {
	color: #ffffff !important;
}

.tc-ugly-blue {
	color: #2f7e8b !important;
}

.tc-ugly-blue-light {
	color: #2e7f8b !important;
}

.tc-plum {
	color: #721519 !important;
}

.tc-greyish-brown {
	color: #525252 !important;
}

.tc-light-sage {
	color: #b8e986 !important;
}

.tc-blue {
	color: #1c61ab !important;
}

.tc-black {
	color: #332 !important;
}

.tc-grey-strong {
	color: #888888 !important;
}

.tc-visa {
	color: #00579f !important;
}

.tc-amex {
	color: #006e95 !important;
}

.tc-mastercard {
	color: #f1ab3d !important;
}

.tlh140 {
	line-height: 140% !important;
}

.tlh190 {
	line-height: 190% !important;
}

.tlh0 {
	line-height: 0px !important;
}

.tlh-normal {
	line-height: normal !important;
}

.tlh-inherit {
	line-height: inherit !important;
}

.position-relative {
	position: relative !important;
}

.position-absolute {
	position: absolute !important;
}

.display-none {
	display: none !important;
}

.display-block {
	display: block;
}

.cursor-pointer {
	cursor: pointer;
}

.fw-bold {
	font-weight: bold;
}

.fw-lighter {
	font-weight: lighter !important;
}

.fz10 {
	font-size: 10px !important;
}

.fz11 {
	font-size: 11px !important;
}

.fz12 {
	font-size: 12px !important;
}

.fz13 {
	font-size: 13px !important;
}

.fz14 {
	font-size: 14px !important;
}

.fz15 {
	font-size: 15px !important;
}

.fz16 {
	font-size: 16px !important;
}

.fz17 {
	font-size: 17px !important;
}

.fz18{
	font-size: 18px !important;
}

.fz19{
	font-size: 19px !important;
}

.fz20 {
	font-size: 20px !important;
}

.fz21{
	font-size: 21px !important;
}

.fz22 {
	font-size: 22px !important;
}

.fz25 {
	font-size: 25px !important;
}

.fz30 {
	font-size: 30px !important;
}

.fz35 {
	font-size: 35px !important;
}

.fz40 {
	font-size: 40px !important;
}

.flipH {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
	display: inline-block;
}

.br5 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.br10 {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.br15 {
	border-radius: 15px !important;
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;
}

.list-style-type-none {
	list-style-type: none;
}

.bt2-white-two-light {
	border-top: solid 2px #eaeaea !important;
}

.bt5-greyish-brown {
	border-top: solid 5px #525252 !important;
}

.bt5-plum {
	border-top: solid 5px #721519 !important;
}

.bt5-light-sage {
	border-top: solid 5px #b8e986 !important;
}

.bt5-blue {
	border-top: solid 5px #1c61ab !important;
}

.bt5-ugly-blue {
	border-top: solid 5px #2f7e8b !important;
}

.bt2-greyish-brown {
	border-top: solid 2px #525252 !important;
}

.bt2-plum {
	border-top: solid 2px #721519 !important;
}

.bt2-light-sage {
	border-top: solid 2px #b8e986 !important;
}

.bt2-blue {
	border-top: solid 2px #1c61ab !important;
}

.bt2-ugly-blue {
	border-top: solid 2px #2f7e8b !important;
}

.br1-grey {
	border-right: solid 1px #c5c5c5 !important;
}

.bl1-grey {
	border-left: solid 1px #c5c5c5 !important;
}

.br1-white {
	border-right: solid 1px #FFFFFF !important;
}

.bl1-white {
	border-left: solid 1px #FFFFFF !important;
}

.br5-white {
	border-right: solid 5px #FFFFFF !important;
}

.bl5-white {
	border-left: solid 5px #FFFFFF !important;
}

.bb1-grey {
    border-bottom: solid 1px #c5c5c5 !important;
}

.bb5-grey {
    border-bottom: solid 5px #c5c5c5 !important;
}

.wp50 {
	width: 50% !important;
}

.wp55 {
	width: 55% !important;
}

.wp75 {
	width: 75% !important;
}

.wp80 {
	width: 80% !important;
}

.wp100 {
	width: 100% !important;
}

.wpx0 {
	width: 0px !important;
}

.wpx5 {
	width: 5px !important;
}

.wpx10 {
	width: 10px !important;
}

.wpx15 {
	width: 15px !important;
}

.wpx20 {
	width: 20px !important;
}

.wpx25 {
	width: 25px !important;
}

.wpx30 {
	width: 30px !important;
}

.wpx140{
	width: 140px !important;
}

.wpx315 {
	width: 315px !important;
}

.wpx370 {
	width: 370px !important;
}

.hpx0 {
	height: 0px !important;
}

.hpx5 {
	height: 5px !important;
}

.hpx10 {
	height: 10px !important;
}

.hpx15 {
	height: 15px !important;
}

.hpx20 {
	height: 20px !important;
}

.hpx25 {
	height: 25px !important;
}

.hpx30 {
	height: 30px !important;
}

.hpx35 {
	height: 35px !important;
}

.hpx50{
	height: 50px !important;
}

.pointer-events-auto{
	pointer-events: auto;
}

.pointer-events-none {
	pointer-events: none;
}

.pointer-events-visiblePainted {
	pointer-events: visiblePainted;
}

.pointer-events-visibleFill {
	pointer-events: visibleFill;
}

.pointer-events-visibleStroke {
	pointer-events: visibleStroke;
}

.pointer-events-visible {
	pointer-events: visible;
}

.pointer-events-painted {
	pointer-events: painted;
}

.pointer-events-fill{
	pointer-events: fill;
}

.pointer-events-stroke{
	pointer-events: stroke;
}

.pointer-events-all{
	pointer-events: all;
}

.outline-none {
	outline: none !important;
}

.text-decoration-none {
	text-decoration: none !important;
}

.text-decoration-underline {
	text-decoration: underline !important;
}

.t-uppercase {
	text-transform: uppercase !important;
}

.t-lowercase {
	text-transform: lowercase !important;
}

.t-capitalize {
	text-transform: capitalize !important;
}

.display-inline-block {
	display: inline-block;
}

.overflow-auto {
	overflow: auto !important;
}

.btn {
	font-family: inherit !important;
}

.btn-transparent {
	background-color: transparent;
}

.btn-transparent:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.btn-default {
	background-color: #2e7f8b !important;
	border-color: #2e7f8b !important;
	color: #ffffff !important;
	border-radius: 3px;
}

.btn-default:hover {
	background-color: #374548 !important;
	border-color: #374548 !important;
	color: #ffffff !important;
}

.btn-greyish-brown {
	background-color: #525252 !important;
	border-color: #525252 !important;
	color: #ffffff !important;
	border-radius: 3px;
}

.btn.btn-xl {
	padding: 15px 100px;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}

.btn.btn-lg {
	padding: 15px 55px;
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}

.btn.btn-md {
	padding: 10px 33px;
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}

.input-resize-none {
	resize: none !important;
}

.btn-group .btn {
	float: none;
}

.btn-group label {
	width: 140px;
	height: 35px;
}

.btn-type {
	border: solid 1px #535353;
	border-radius: 2px;
	box-shadow: none;
	float: none;
}

.btn-type:hover {
	background-color: #535353;
	color: #FFFFFF;
}

.btn-type.active {
	background-color: #C6E88A;
	border: solid 1px #C6E88A;
	-webkit-box-shadow: none;
	box-shadow: none;
	float: none;
}

.btn-black-light {
	color: #FFFFFF;
	background-color: #535353;
}

.btn-black-light .btn-lg,
.btn-default .btn-lg {
	width: 140px;
	height: 50px;
}


/*************************************** UPLOAD FILE BUTTON STYLE ********************************/
.btn-upload-file {
	position: relative;
	text-align: center;
	border-radius: 4px;
	border: dashed 2px #979797;
	color: #525252;
}

.btn-upload-file:hover {
	cursor: pointer;
}

.btn-upload-file i {
	font-size: 36px;
}

.btn-upload-file span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.btn-upload-file input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	width: 100%;
}

.btn-upload-file.btn-md {
	height: 150px;
	line-height: 150px;
}

/*************************************** CHECK BUTTON STYLE ********************************/
.btn-check-container {
	position: relative;
}

.btn-check-container .input-check-item {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	font-size: 20px;
	cursor: pointer;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}

.input-check-item:checked:hover ~ .btn-check-item,
.input-check-item:checked ~ .btn-check-item  {
	background-color: #b8e986;
	border: solid 1px #b8e986;
	color: #628a38;
}

.input-check-item:checked ~ .btn-check-item i {
	display: initial;
}

.input-check-item:hover ~ .btn-check-item {
	cursor: pointer;
	background-color: #525252;
	color: #FFFFFF;
}

.btn-check-item {
	text-align: center;
	padding: 10px 0px;
	border-radius: 3px;
	border: solid 1px #525252;
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	color: #525252;
}

.btn-check-item i {
	display: none;
}

.btn-check-item.btn-sm {
	width: 140px;
}


.form-control {
	border-color: #e4e4e4;
}

.form-control:focus {
	border-color: #525252;
	box-shadow: none;
}


.input-range {
	background-color: #911d21;
}


/* Check-boxes */
.container-checkbox {

}

.container-checkbox label {
	position: relative;
	margin-top: -20px;
}

/* Base styles for spans */
.container-checkbox span::before,
.container-checkbox span::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	margin: 0px auto;
}

.container-checkbox .cc-input {
	visibility: hidden;
}

.container-checkbox span.checkbox {
	padding-left: 25px;
	cursor: pointer;
}

.container-checkbox span.checkbox::before {
	width: 18px;
	height: 18px;
	background-color: #fff;
	left: 0px;
	box-sizing: border-box;
	border: 2px solid #2e7f8b;
	transition: border-color .2s;
}

.container-checkbox span.checkbox::after {
	content: '\f00c';
	font-family: 'FontAwesome';
	left: 2px;
	top: -1px;
	color: transparent;
	transition: color .2s;
}

.cc-input:checked + label span.checkbox::before {
	background-color: #2e7f8b;
}

.cc-input:checked + label span.checkbox::after {
	color: #FFFFFF;
}


/*=====================  Modal Wait Loading =====================*/

.spinWaitLoading {
	background-color: #ffffff;
	width: 128px;
	height: 128px;
	margin: 0 0 0 45%;
}

#modalWaitLoading {
	margin: 15% 0px !important;
}

#modalWaitLoading .modal-content {
	background-color: transparent !important;
	border: none !important;
	border-radius:0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	color: #ffffff;
	font-family: AvenirLTStd-Medium !important;
	font-size: 1.1em;
}

.spinLoading {
	width: 35px;
	height: 35px;
	animation: spinLoading .5s infinite;
}

.spinLoading h1 {
	color: #747474;
	font-size: 1.5em;
	position: relative;
	top: 90px;
	left: 0;
	text-align: center;
}

@keyframes spinLoading {
	0% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/0.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	6% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/1.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	12% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/2.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	18% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/3.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	24% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/4.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	30% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/5.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	36% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/6.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	42% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/7.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	48% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/8.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	54% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/9.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	60% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/10.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	66% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/11.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	72% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/12.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	80% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/13.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	86% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/14.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
	100% {
		background: url("https://s3.amazonaws.com/trylocalness-com/lws/img/spin-wait-loading/15.png");
		background-size: contain;
		width: 128px;
		height: 128px;
	}
}

/*=====================  Error Message =====================*/
.error {
	color: #d9534f;
}

/*=====================  Experiencie Fixed Container =====================*/

.box-experience-absolute {
	position: absolute;
	right: 3%;
	top: 90% !important;
	z-index: 20;
}

.box-experience-absolute-scrolled {
	top: 26% !important;
}

.experience-preview-detail {
	width: 300px;
}

.experience-fixed-container {
	position: fixed;
	z-index: 20;
	right: 3%;
}


/*=====================  Panel Bootstrap =====================*/
.panel.panel-ugly-blue-light {
	border-radius: 2px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.panel.panel-ugly-blue-light .panel-heading {
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: #237f8b;
	font-family: BebasNeueBook;
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	color: #ffffff;
	line-height: 0.9;
}


/* =================================== Icons Category  ==============================*/
.icon-category{
	width: 72px;
	height: 72px;
	display: block;
	position: absolute;
	left: 89px;
}

.icon-category-sm {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 25px;
	height: 25px;
	position: relative;
	top: 5px;
}

.icon-category-business-traveler{
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/categories/bussiness_traveler_white.svg) no-repeat 100%;
	background-size: cover;
}

.icon-category-culture {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/categories/culture_white.svg) no-repeat 100%;
	background-size: cover;
}

.icon-category-family {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/categories/Family_white.svg) no-repeat 100%;
	background-size: cover;
}

.icon-category-food {
	background:  url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/categories/food_white.svg) no-repeat 100%;
	background-size: cover;
}

.icon-category-hexagon {
	background:   url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/categories/hexagon_white.svg) no-repeat 100%;
	background-size: cover;
}

.icon-category-local-tradition {
	background:url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/categories/local_tradition_white.svg) no-repeat 100%;
	background-size: cover;
}

.icon-category-local-tradition-A {
	background:url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/categories/local_tradition_white.svg) no-repeat 100%;
	background-size: cover;
}

.icon-category-local-tradition-B {
	background:url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/categories/local_tradition_2_white.svg) no-repeat 100%;
	background-size: cover;
}

.icon-category-local-wedding {
	background-size: cover;
	background:url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/categories/local_wedding_white.svg) no-repeat 100%;
}

.icon-category-music {
	background-size: cover;
	background:url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/categories/music_white.svg) no-repeat 100%;
}

.icon-category-nightlife {
	background-size: cover;
	background:url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/categories/nightlife_white.svg) no-repeat 100%;
}

.icon-category-photography {
	background-size: cover;
	background:url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/categories/photography_white.svg) no-repeat 100%;
}

.icon-category-shopping {
	background-size: cover;
	background:url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/categories/shopping_white.svg) no-repeat 100%;
}

.icon-category-sports {
	background-size: cover;
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/categories/sports_white.svg) no-repeat 100%;
}





i.icon{
	width: auto;
	height: auto;
	display: block;
	text-decoration: none;
	margin-left: 50px;
}

i.icon-profile {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/menu/user-4.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}


i.icon-folder {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/menu/folder-white.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}

i.icon-folder-open {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/menu/folder-open-white.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}


i.icon-folder-black {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/menu/folder-black.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}

i.icon-folder-open-black {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/menu/folder-open-black.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}


i.icon-diploma-black {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/menu/diploma.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}

i.icon-host-plus {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/menu/luggage.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}

i.icon-host-localness {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/menu/luggage_localness.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}

i.icon-host-edition {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/menu/backpack_edition.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}


i.icon-edit {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/menu/edit.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}

i.icon-id-card {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/menu/id-card-4.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}

i.icon-telephone {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/menu/telephone.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}

i.icon-list-preferences {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/menu/list-preferences.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}

i.icon-doc-id {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/documents/id.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}

i.icon-address {
	background: url(https://s3.amazonaws.com/trylocalness-com/lws/img/icons/documents/address.svg);
	background-size: cover;
	width: 55px;
	height: 55px;
}
