@media 
only screen and (max-width: 760px) {

    /* Force table to not be like tables anymore */
    table.table.myrules, table.table.myrules thead, table.table.myrules tbody, table.table.myrules td, table.table.myrules tr { 
        display: block; 
    }

    table.table.myrules th, table.table.myrules thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.table.myrules tr { border: none; }

    table.table.myrules td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }

    table.table.myrules td:before { 
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        border-color: transparent;
    }

    /*
    Label the data
    */
    table.table.myrules tr td.td-switch{
        padding: 10px 0;
    }
    table.table.myrules tr td:first-child{
        padding: 10px 0;
    }
    table.table.myrules tr td:first-child:nth-of-type(1):before { content: "";}    
    table.table.myrules tr td.td-switch:nth-of-type(1):before { content: "";}
    table.table.myrules td:before { text-align:center;padding-top: 7px;}
    table.table.myrules td:nth-of-type(1):before { content: "Día de la semana"; font-weight: bold; }
    table.table.myrules td:nth-of-type(2):before { content: "Domingo"; }
    table.table.myrules td:nth-of-type(3):before { content: "Lunes"; }
    table.table.myrules td:nth-of-type(4):before { content: "Martes"; }
    table.table.myrules td:nth-of-type(5):before { content: "Miercoles"; }
    table.table.myrules td:nth-of-type(6):before { content: "Jueves"; }
    table.table.myrules td:nth-of-type(7):before { content: "Viernes"; }
    table.table.myrules td:nth-of-type(8):before { content: "Sabado"; }

}