@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
body {
    padding-top: 0px;
    padding-bottom: 90px;
    background-color: #f6f6f6;
    font-size: 12px;
    font-family: "Open Sans", Helvetica, Arial, verdana, times;
}

.navbar-brand>span{
    font-weight: 200;
    color: #aaa;
    font-size: 12px;
    margin-top: 11px;
    display: inline-block;
    float: right;
    margin-left: 5px
}


.loader{
    background: rgba(255, 255, 255, 0.6);
    color: #142b45;
    right: 0;
    bottom: 0;
    top:0;
    left: 0;
    position: absolute;
    z-index: 9999;
    padding: 30px 0;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}

.loader .labelloader{
    position:fixed; 
    margin-top: 10px; 
    top:50%;
    margin-top:-22px;
    left:0; 
    right:0;
    margin-left: 90px;
}

a:hover,.text-primary:hover{
    color:#061526;
    text-decoration: none;
}

a:focus {
    outline: none;
}

.profile{
    background: #f5f5f5;
}

label {
    font-weight: 500;
}

h1, h2, h3, h4{
    color: #132b45;
    font-family: "Open Sans", Helvetica, Arial, verdana, times;
}

h1{
    margin:0 0 20px 0;
    font-weight: 600;
    font-size: 24px;
}

h2{
    font-size: 20px;
}

.form-control.error {
    border: 1px solid #f67280;
}

.table-bordered>thead>tr>th{
    border:none;
}

.table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #E6E4E5;
}

.btn{
    font-size: 12px;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-primary{
    background: #142b45;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active{
    background: #061526;
}

.btn.btn-xs {
    border-radius: 3px;
    height: 20px;
    padding: 0 8px;
    line-height: 20px;
    font-size: 11px;
}

.form-control {
    box-shadow: none;
    border-color: #d5d5d5;
}

/*
  .btn-success {
    background: #41948E;
  }
  
  .btn-warning {
    background: #D0CE88;
  }
  
  .btn-info {
    background: #146C79;
  }
  
  .btn-primary {
    background: #88B88F;
  }
  
  .btn-danger {
    background: #f67280;
  }

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}
*/
div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.navbar-white{
    background: #6699cc;
    -webkit-box-shadow: 0 1px 2px rgba(223,223,223,0.75);
    box-shadow: 0 1px 2px rgba(223,223,223,0.75);
}

.main-container{
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
    padding-left: 0px;
    clear: both;
}

.main-container-dashboard{
    margin-top: 60px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 0px;
    clear: both;
}

.main-container.offset-main{
    padding-left: 90px;
}

::-webkit-scrollbar {
    display: none;
}

/*siudebar*/

aside {
    position: fixed;
    display: block;
    float: left;
    width: 90px;
    z-index: 100;
    padding-top: 62px;
    bottom: 0;
    left: 0;
    height: 100%;
    background: #142b45;
    color: #BECFE0;
    font-size: 11px;
    text-align: center;
    overflow: hidden;
}

aside .search-block{
    display:none;
}
.minimizable{
    cursor:pointer;
    padding: 0 1px;
    border-top: 1px solid #506274;
    border-bottom: 1px solid #415160;
    text-align: center;
}

aside.skin-7 .search-block,aside.skin-7 .despmastiendas{
    display:block;
}
aside.skin-7{
    width:194px;
    font-size:13px;
    text-align: left;
}

aside .badge{
    display:none;
}


aside.skin-7 .user-block .detail .list-inline{
    display: none;
}

.navbar-collapse.collapse a.fotoTienda {
    float:none;  
}

.navbar-collapse.collapse a.fotoTienda {
    float:left;
}
aside .main-menu>ul>li>a .text {
    display: block;
    margin: 5px 0 0 0;
}

aside .badge{
    display:none;
}

aside.skin-7 .minimizable{
    display: block;
}

aside .minimizable{
    display: none;
}

aside.skin-7 .main-menu > ul > li a {
    padding: 13px 10px;
}
aside a{
    color: #fff;
    text-decoration: none;
}

aside #sizeToggle {
    width:100%;
    margin: 0;
    border: none;
}

aside.skin-7 #sizeToggle{
    width:auto; 
}

.size-toggle {
    padding: 10px;
    border-bottom: 1px solid #415160;
}
aside.skin-7 .search-block{
    display: block;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    height: 0;
    padding: 0 15px;
    overflow:hidden;
}

aside.skin-7 .search-mini-block{
    display: none;
}

aside .search-block{
    display: none;
}

aside .stats-box{
    display: none;
}

aside.skin-7 .stats-box{
    display: block;
}

aside .search-mini-block, aside .user-block{
    display: block;
    border-bottom: 1px solid #415160
}

aside .user-block, aside .search-block{
    padding:10px;
    /*border-top: 1px solid #506274;
    border-bottom: 1px solid #415160;*/
}
aside .search-block input[type=text]{
    border: none;
    background-color: #44495c;
    color: #ccc;
    box-shadow: none;
}    
aside .search-block .btn-search{
    background-color: #44495c;
    color: #9a79a8;
    border: 1px solid #44495c;
}

aside .user-block img {
    float: inherit;
    width: 30px;
    height: 30px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    /*animation: fadeInRotate .9s ease;
    -webkit-animation: fadeInRotate .9s ease;
    -moz-animation: fadeInRotate .9s ease;
    -ms-animation: fadeInRotate .9s ease;
    -o-animation: fadeInRotate .9s ease;*/
}
aside .user-block .detail {
    color: #BECFE0;
}
aside .user-block .detail {
    float: none;
    color: #e6f1f7;
    margin-left: 0px;
    max-width: 119px;
    margin-top:5px;
    display: inline-block;
}


aside.skin-7 .user-block .detail {
    float: left;
    color: #e6f1f7;
    margin-left: 10px;
    max-width: 119px;
    display: inline-block;
}
aside .main-menu>ul {
    padding:0;
    margin: 0;
    list-style: none;
}

aside .main-menu > ul > li a{
    border-top: 1px solid #0e233a;
    border-bottom: 1px solid #0e233a;
    padding:15px 5px;
    display: block;
    position:relative;
}
aside .main-menu > ul > li.active a,aside .main-menu > ul > li a:hover,aside .main-menu > ul > li a:focus{
    background: #061526;
    border-bottom-color: #80fffd;
    text-decoration: none;
    color: #80fffd;
}

aside.skin-7 .main-menu>ul>li>a .text {
    margin-left: 10px;
    display: inline;
}
aside.skin-7 .main-menu>ul>li>a .badge {
    position: absolute;
    top: 12px;
    right: 7px;
    display: inline-block;
}

/*breadcrumbs*/

.breadcrumb{
    font-size: 11px;
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 1px 2px rgba(223,223,223,0.75);
    box-shadow: 0 1px 2px rgba(223,223,223,0.75);
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "\003E";
    font-size: 12px;
}

.breadcrumb>li a{
    color: #333;
    font-weight: 500;
}

.panel-default {
    border:none;
    -webkit-box-shadow: 0 1px 2px rgba(223,223,223,0.75);
    box-shadow: 0 1px 2px rgba(223,223,223,0.75);
    margin-bottom: 40px;
}

.panel-body {
    padding: 20px;
}

.panel-footer{
    background-color: white;
    color: #999;
    padding: 20px;
    font-size: 12px;
    font-weight: 200;
}

.panel-footer .clearfix:first-child{
    margin-bottom: 10px;
}

.panel-body .row{
    margin-right: -20px;
    margin-left: -20px;
}

.nav.nav-pills{
    background-color: transparent;
    margin-bottom: 20px;
}

.nav.nav-pills>li>a{
    color: #fff;   
    font-weight: 500;
    font-size: 13px;
    border-radius: 0;
    background-color: #142b45 !important;
    border-bottom: 2px solid #142b45;
}

.nav.nav-pills>li.active>a, .nav.nav-pills>li:hover>a{
    color:#80fffd;
    border-bottom: 2px solid #80fffd;
}

.nav.nav-pills.roomtypesbar>li.active>a, .nav.nav-pills>li:hover>a{
    color:#142b45;
    border-bottom: 2px solid #142b45;
    background-color: #80fffd !important;
    font-weight: 500;
    font-size: 13px;
}

/*
.nav.nav-pills.roomtypesbar {
    position: fixed;
    top: 200px;
    left: 0;
    table-layout: fixed;
  border-collapse: collapse;
  display: block;
  z-index: 1000;
}
*/
.nav.nav-pills>li.menu-submenu>a{
    border-color: #142b45 !important;
}

.dropdown-menu .ocupadas{
    display:none
}

#hotel-gallery-container {
    position: relative;
    clear: both;
    display: inline-block;
    width: 100%;
}
#hotel-gallery{
    width: 90%;
    display: inline-block !important;
    float: left;
    position: relative;
}
#hotel-gallery .item{
    background-size:cover;
    margin: 10px 0;
    height:110px;
    width:100%;
    background-size: cover;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
#hotel-gallery .item div.miniphoto{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center center;
    margin:0 auto;
}

#hotel-gallery .item:hover .zoom-placeholder {
    display: block;
}

#hotel-gallery .item .zoom-placeholder {
    display: none;
    background-color: rgba(20,43,69,0.9);
    height: 100px;
    width: 100px;
    z-index: 10;
    padding: 32px 0;
    color: #fff;
    text-align: center;
    font-size: 22px;
    position: absolute;
    top: 20px;
}

.hotel-controller{
    height: 120px;
    width: 5%;
    display: inline-block;
    float: left;
}

.gallery-generic{
    max-width: 675px;
    margin: 0 auto;
}
.amenities{
    padding:0;
}

.amenities li{
    list-style: none;
}

.amenities li>div.amenity{
    background-color: #dfdfdf;
    border-radius: 3px;
    display: block;
    font-size: 12px;
    color: #666;
    margin: 10px 0px 0;
    height: 28px;
    overflow: hidden;
}
.amenities li>div.amenity:hover{
    border-right:3px solid #80fffd;
}

.amenities li>div.amenity img{
    margin-right:5px;
}

.amenities li>div.amenity .check-amenity{
    width: 30px;
    position: absolute;
    border: 0;
    box-shadow: none;
    height: 28px;
    background: #dfdfdf;
    border-right: 1px solid #fff;
    padding: 4px 0;
    text-align: center;
    border-radius: 3px 0 0 3px;
}


.amenities li>div.amenity .amenity-label{
    padding-left: 40px;
    padding-top: 5px;
    padding-right: 10px;
    cursor: pointer;
    display: block;
}

.owl-item .item.active .miniphoto{
    outline:2px solid #0e233a;
} 
.thumbsGallery a:hover .zoom-placeholder{
    display:block;
}

.roomcount{
    color: #999;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 200;
}

.thumbsGallery a.active{
    outline: 2px solid #0e233a;
}

.zoom-placeholder{
    display:none;
    background-color: rgba(20,43,69,0.9);
    height: 120px;
    width: 120px;
    z-index: 10;
    position: absolute;
    padding: 42px 0;
    color: #fff;
    text-align: center;
    font-size: 22px;
}
.thumbsGallery a {
    height: 120px;
    width: 120px;
    margin: 20px 15px 0 0;
    display: inline-block;
    float: left;
    background-size: cover;
    background-color: #e2e2e2;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn.btn-prev,.btn.btn-next{
    position: absolute;
    background-color: #aaa;
    color: #333;
    padding: 0 15px;
    top: 50px;
    z-index: 2;
}

table.table.myrules tr td.disabled{
    opacity: 0.7;
}

table.table.myrules tr td:first-child{
    background: #E6E4E5;
    color:#142b45;
    text-align: center;
    position: relative;
}

table.table.myrules tr td.td-switch{
    padding-top:12px; 
    font-weight: 700;
    font-size: 14px;
}


table.table.myrules tr th{
    cursor:pointer;
    background: #142b45;
    color: #fff;
    text-align: center;
    font-weight: 500;
    border:none;   
}

table.table.myrules tr th:hover{
    color: #80fffd;
}

.table-bordered tr td.grayblock{
    background:#C2C2C2 !important;
    border:none !important;
    padding-top: 13px;
    color: #142b45;
}

tr th.input-selected{
    border-bottom: 3px solid #80fffd !important;
}

tr.reservationPeriod.input-selected td:first-child{
    border-right: 3px solid #80fffd;
}

.btn.btn-prev{
    left: 0px;
}

.btn.btn-next{
    right: 0px
}


.switch,
.switch * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.switch label {
    cursor: pointer;
}
.switch label input[type=checkbox]:first-child {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch label input[type=checkbox]:first-child:checked + .lever {
    background-color: #0e233a;
}
.switch label input[type=checkbox]:first-child:checked + .lever:after {
    background-color: #ffffff;
}
.switch label .lever,
.switch label input[type=checkbox][disabled]:first-child + .lever {
    content: "";
    display: inline-block;
    width: 35px;
    height: 15px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin-left: 5px;
}
.switch label .lever:after {
    content: "\f00d";
    font-family: 'FontAwesome';
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #333;
    font-size: 14px;
    background-color: #F1F1F1;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
    left: -10px;
    top: -2px;
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}
.switch label input[type=checkbox][disabled]:first-child + .lever:after,
.switch label input[type=checkbox][disabled]:checked:first-child + .lever:after {
    background-color: #BDBDBD;
}
input[type=checkbox]:first-child:checked ~ .lever:active:after {
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4), 0 0 0 15px rgba(0, 149, 135, 0.1);
}
input[type=checkbox]:first-child ~ .lever:active:after,
input[type=checkbox][disabled]:first-child ~ .lever:active:after {
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4), 0 0 0 15px rgba(0, 0, 0, 0.1);
}
.switch label input[type=checkbox]:first-child:checked + .lever:after {
    left: 10px;
    color: #0e233a;
    content: "\f00c";
}

.close-btn-times{
    color: #fff;
    background-color: #E6786F;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: -5px;
    right: -8px;
    cursor: pointer;
    border-radius: 50px;
    -webkit-transition: 0.3s all ease; /* Safari */
    transition: 0.3s all ease;
}

.close-btn-times:hover{
    transform: scale(1.1);
    color: white;
    text-decoration: none;
}

td.piqui{
    position:relative;
}
.text-primary{
    color:#142b45;
}
td.piqui:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -25px;
    width: 0;
    height: 0;
    border-left: 10px solid #E6E4E5;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.input-room{
    border-color:#142b45;
    background: transparent;
    max-width: 60px;
}

table.table.myrules{
    min-width: 0 !important ;
}

table.table.myrules tr.disabled .td-switch{
    color: #666;
}

table.table.myrules tr td:first-child.estanciamax{
    background: #D1D1D1;
    text-align: center;
    border-color: #D1D1D1;    
    min-width: 105px;
}
td.tdhovered{
    background: #DCE1E5 !important;
}


.td-switch.piq:before{
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    margin-left: -45px;
    width: 0;
    height: 0;
    margin-top: -1px;
    border-top: 12px solid #D1D1D1;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
}
.myownmoney{
    margin-bottom: 10px;
}

.myownmoney .input-group-addon{
    background: transparent;
    border: 1px solid #142b45;
    border-right:none;
    padding:5px;
}

.myownmoney .form-control {
    box-shadow: none;
    border-color: #142b45;
    background-color: transparent;
    border-left: none;
}

.myownmoney-error{
    margin-bottom: 10px;
}

.myownmoney-error .input-group-addon{
    background: transparent;
    border: 1px solid #f67280;
    border-right:none;
    padding:5px;
}

.myownmoney-error .form-control {
    box-shadow: none;
    border-color: #f67280;
    background-color: transparent;
    border-left: none;
}

.dropdown-menu {
    background-color: #e2e2e2;
    border: none;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    margin: 8px;
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #e2e2e2;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown-menu>li:first-child>a{
    border-top: none; 
}

.dropdown-menu>li>a{
    color: #666;
    padding: 7px 10px;
    border-top: 1px solid #999; 
    font-weight: 200;
}

.dropdown-menu>li.active>a:hover,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{
    background: #BBB;
}

.dropdown-menu>li.active>a{
    color: #666 !important;
    border-left: 3px solid #80fffd;
    font-weight: 200;
    background: #e2e2e2;
}

#quantity_wanted_p{
    height:32px;
    margin-bottom: 15px;   
}

#quantity_wanted_p .input-group{
    width: 78px;
    height: 32px;
    padding: 0;
    float: left;
    border: 1px solid #142b45;
    border-radius: 4px;
}


#quantity_wanted_p .input-group .input-group-addon{
    background-color: white;
    border: none;
}

#quantity_wanted_p .input-group input{
    border: none;
}


#quantity_wanted_p .input-group input:focus{
    box-shadow: none;
}

#quantity_wanted_p .btn {
    float: left;
    margin: 0 5px;
}

.btn.button-plus, .btn.button-minus {
    box-shadow: none;
    font-size: 14px;
    height: 32px;
    line-height: 14px;
    background: #CCC;
    padding: 0;
    border: 1px solid;
    border-color: #dedcdc #c1bfbf #b5b4b4 #dad8d8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn.button-plus i.fa, .btn.button-minus i.fa {
    display: block;
    vertical-align: middle;
    width: 31px;
    color: #142b45;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 8px 0 0 0;
}

.btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.reservation-col h2{
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    border-radius: 0;
    background-color: #142b45;
    text-align:center;
    padding:10px 0;
    margin-top:0;
    position:static;
    top:auto;
    width: auto;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-right: -15px;
    margin-left: -15px;
}

.reservation-management .reservation-col h2.fixed{
    position:fixed;
    top:60px;
    z-index: 33;
}
.reservation-col h2.fixed {
    position: fixed;
    top: 122px;
    z-index: 33;
}

#reservation-management{
    margin:20px 0 0;
}

.reservation-col .card{
    box-shadow: 0 1px 2px rgba(200,200,200,0.75);
    padding:0;
    margin-bottom: 15px;
}

.reservation-col .room-cover{
    height:80px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.reservation-col .ribbon{
    background: #666;
    color: #fff;
    padding: 7px;
    position: absolute;
    top:0;
    left:0;
    font-size: 11px;
    font-weight: 200;
}

.reservation-col#pending .ribbon{
    background: #d83d3d;
}

.reservation-col#checkin .ribbon{
    background: #ebb44a;
}
.reservation-col#checkout .ribbon{
    background: #6c9b41;
}

.reservation-col .room-type b, .reservation-col .ribbon b{
    font-weight: 400;
}

.reservation-col .room-type{
    background: #666;
    color: #fff;
    padding: 7px;
    font-weight: 200;
    text-align: center;
}


.reservation-col#pending .room-type{
    background: #FA3A3B;
}

.reservation-col#checkin .room-type{
    background: #FDB53E;
    text-align: left;
}

.tc-star-checked {
    color: #00b990;
}


.reservation-col#checkout .room-type{
    background: #75C659;
}

.fa-icon-size {
    font-size: 16px !important;
}
.fa-text-size {
    font-size: 11px !important;
}

.pending-color {
    color:#5bc0de
}

.checkin-color {
    color:#FDB53E
}

.checkout-color {
    color:#75C659
}

.cancelled-color {
    color: #b92c28
}

.completed-color {
    color: #468847
}

.reservation-col .mini{
    background: #FFF;
    color: #9f9f9f;
    height:60px;
    overflow:hidden;
    padding: 14px 5px 0;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

.reservation-col .mini.mail{
    line-height: 11px;
}

.reservation-col .mini.par{
    background: #e6e5e5;
}

.reservation-col .mini i.fa{
    display: block;
    margin-bottom: 5px;
}

.reservation-col h5{
    font-size: 17px;
    display: block;
    margin: 0;
    font-weight: 400;
}

.reservation-col h4 {
    font-size: 22px;
    display: block;
    margin: 0 0 1px;
}

.reservation-col .bluestyle{
    color: #142b45;
}


.card .img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.card .mask{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(219,219,219,0.85);
    padding: 70px 20%;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card .mask input[type=text]{
    text-align: center;
    color: #000;
    border: 2px solid #666;
    padding:16px 0;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 10px;
}
.card .mask input[type=text],.card .mask button.dark{
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.card .mask button {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-transform: capitalize;
    margin-bottom: 10px;
    border-radius:3px;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#pending .card .mask button{
    background-color: #ab3939;
}
#checkin .card .mask button, .card .mask button.btn-warning{
    background-color: #FDB53E;
    margin-top: 20px;
}
#checkin .card .mask button.btn-warning.dark{
    background-color: #CF8E1C;
}
.card .mask button.btn-success{
    background-color: #4F9C36;
    margin-top: 20px;
}

#pending .card .mask input{
    border-color: #ab3939;
}

#pending .card .mask a.info {
    margin: 10px 0;
}

#checkin .card .mask input{
    border-color: #be8d2d;
}
.card .mask input.input-success{
    border-color: #6c9b41;
}

.card:hover .img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
.card .mask a.info:hover {
    color: #000;
    font-weight: 600;
}
a.info{
    display: block;
    text-decoration: underline;
    color: #333;
    text-align: center;
    margin-top:5px;
    font-weight: 400;
}

.card .mask a.info {
    margin: 20px 0;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}
.card .mask a.change-room {
    margin-top: 10px;
}

.card:hover .mask, .card .mask.emulate {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.card:hover .mask input[type=text], .card .mask.emulate input[type=text], 
.card:hover .mask button, .card .mask.emulate button,
.card:hover a.info, .card .mask.emulate a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.card:hover .mask button, .card .mask.emulate button {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.card:hover .mask a.info, .card .mask.emulate a.info {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

#search .input-group{
    height: 32px;
    padding: 0;
    float: left;
    border: 1px solid #142b45;
    border-radius: 4px;
}

.roomrequiredmessage{
    position:absolute; 
    top: 10px; 
    right:10px;
    color: #ab3939 !important;
}
#search .input-group .input-group-addon{
    background-color: white;
    border: none;
}

#search .input-group input{
    border: none;
}

#search .btn{
    height: 32px;
    line-height: 32px;
}
#search .input-group input:focus{
    box-shadow: none;
}
.cal{
    line-height: 60px;
    font-weight: 200;
    text-align: center;
}
.cal b{
    font-weight: 600;
}

.cal img{
    margin-right: 10px;
}

#clock-container{
    font-size: 18px;
    color: #666;
    top: 62px;
    background: #e9e9e9;
    box-shadow: 0 2px 1px rgba(0,0,0,0.3);
    z-index: 1000;
    min-height: 60px;
    position: fixed;
    left: 90px;
    right: 0;
    margin: 0;
}

#clock-container-dashboard {
    font-size: 14px;
    color: #666;
    background: #e9e9e9;
    box-shadow: 0 2px 1px rgba(0,0,0,0.3);
    z-index: 1000;
    min-height: 60px;
    position: fixed;
    left: 0px;
    right: 0;
    margin: 0;
    max-height: 60px;
}

.nav li .ocupadas.disabled{
    opacity: 0.7;
}
.nav li .ocupadas{
    opacity:1;
    padding: 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 13px;
    color: #666;
    font-weight: 200;
}
.nav li .ocupadas .col-xs-6:first-child{
    height:85px;
}

.card .hourcheck{
    background: #9f9f9f;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: 200;
}

.card .hourcheck.res{
    border-right: 1px solid #8b8b8b;
}

.card .hourcheck b{
    font-weight: 400;
    display:block;
}

.nav li .ocupadas .col-xs-6:first-child{
    border-right: 1px solid #e9e9e9;
}
.nav li:first-child .ocupadas{
    border-left: 0;
}
.nav li .ocupadas .switch{
    background-color: #d2d2d2;
    clear: both;
    padding: 8px 0;
}
.m5{
    margin-top:5px;
    margin-bottom: 7px;
    text-align: right;
}
.m7{
    margin:5px 0;
}
.m10{
    margin:10px 0;
}

input.disp {
    color: #666; 
    border: 1px solid #e2e2e2;
    padding: 2px 4px;
    max-width: 54px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

.totalvendido{
    background: #e6e5e5;
    border-top: 2px solid #c0c0c0;
    color: #5a5959;
    font-size: 16px;
    font-weight: 200;
}

.totalvendido b{
    font-size: 18px;
}

#reservation-management #cancelled{
    display:none;
    box-shadow: -2px 0 4px rgba(0,0,0,0.4);
    transition: all ease 0.2s; 
    min-height: 255px;
}
#reservation-management #pending.minimized{
    width: 0px; 
    overflow: hidden;
    display: none;
    padding: 0;
}
#reservation-management .well.notice {
    font-size: 14px;
    text-align: center;
    color: #5a5959;
    background-color: #e6e5e5;
    box-shadow: none;
    border-radius: 3px;
    font-weight: 200;
    border-radius: 0;
}
#reservation-management .well.notice h1{
    text-align: center;
    display: block;
    font-size: 32px;
    color: inherit;
    margin-bottom: 5px;
}
.thumbnailcontainer{
    display: inline-block;
}
.btn-pekeupload{
    visibility: hidden;
}



@media (max-width: 480px){

    .main-container{
        margin-top: 62px;
    }

    .reservation-col h2.fixed{
        top:62px;
    }    
    .loader .labelloader{
        margin-left: 0px;
    }

    .thumbsGallery a {
        height: 78px;
        width: 78px;
        margin: 20px 2px 0 3px;
    }

    .zoom-placeholder {
        height: 78px;
        width: 78px;
        padding: 22px 0;
    }

    .navbar-brand img{
        height:18px;
    }

    .navbar-white {
        margin-left: 0px;
    }
    .main-container.offset-main {
        padding-left: 0px;
    }

    aside {
        z-index: 999;
        max-height: 72px;
        left: 0 !important;
        right: 0 !important;
        top: auto;
        bottom: 0 !important;
        float: none;
        width: 100% !important;
        height: auto !important;
        padding: 0 !important;
        font-size: 12px !important;
        text-align: center !important;
    }

    aside .minimizable {
        display: none !important;
    }

    aside .main-menu>ul>li>a .text {
        display: block !important;
        font-size: 11px !important;
        margin: 5px 0 0 0 !important;
    }

    aside .main-menu > ul > li a {
        border-right: 1px solid #0e233a;
        padding: 13px 5px !important;
        display: block;
        position: relative;
        border-top: 0;
        border-bottom: 0;
        word-wrap: break-word;
        word-break: break-all;
    }

    aside .badge{
        display:none !important
    }
    aside .stats-box:last-child{
        display:none !important;
    }
    .container-right{
        padding: 0 0 80px !important;
    }

    aside #stats li{
        display: inline-block;
        width: 20%;
        float: left;
    }

    #stats li a{
        height:72px;
    }



}


.invoice-title {
    padding: 15px 0 5px 10px;
}

#sel-period {
    width: 400px;
}

#update-password-action {
    padding: 10px 0;
    display: block;
    text-decoration: underline;
}

#update-password-container{
    display: none;
}

.display-none {
    display: none;
}

.roomtypesbar-fixed  {
    position: fixed;
    top: 122px;
    z-index: 1000;
    overflow: hidden;
}

.room-inventory-fixed {
    padding-top: 60px;
}

.roomtypesbar-fixed-480  {
    top: 102px;
}

.room-inventory-fixed-480 {
    padding-top: 60px;
}

.period-selector-container {
    padding: 0px;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 11px !important; 
    top: 180px;

}

.period-selector-dialog {
    padding: 0px;
    padding-bottom: 0px !important;
    width: 300px !important;
}


.period-selector {
    border-left: #6b6c6c 10px solid;
    border-right: none;
    border-top: none;
    border-bottom: #c7c8c8 1px solid;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    display:table;
}

.period-selector-top {
    -webkit-border-top-left-radius: 10px !important;
    -webkit-border-top-right-radius: 10px !important;
    -moz-border-top-left-radius: 10px !important;
    -moz-border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important; 
    border-top-right-radius: 10px !important; 
}

.period-selector-bottom {
    -webkit-border-bottom-left-radius: 10px !important;
    -webkit-border-bottom-right-radius: 10px !important;
    -moz-border-bottom-left-radius: 10px !important;
    -moz-border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important; 
    border-bottom-right-radius: 10px !important; 
}


.period-selector:hover {
    border-left: #80fffd 10px solid;   
}
.period-selector:hover i {
    color: #80fffd;
}

.period-selector-text {
    display:table-cell;
    vertical-align:middle ;
    line-height: 65px !important;
    font-size: 15px !important;
    padding-left: 10px;
}

.period-selector-arrow {
    float: right;
    font-size: 18px !important;
    padding-right: 10px;

}

.reservation-period-content {

}
.reservation-period-content button {
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer;
}

.reservation-period-content button.cancel {
    background-color: #C1C1C1;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
    font-size: 14px;
    padding-top: 6px;
}

.no-padding-bottom {
    padding-bottom: 0px !important;
}

.modal-sm {
    width: 450px;
}

.confirm-button {
    display: inline-block; box-shadow: none; background-color: rgb(20, 43, 69);
}
.confirm-button:disabled {
    background: #dddddd;
}
.type-period {
    font-size: 11px;
    text-align: left;
    font-weight: lighter;
}

.type-period-text {
    font-size: 9px;
    text-align: left;
    font-weight: lighter;
}

.timeperroom {
    font-size: 14px;
    text-align: left;
}

.not-padding-left {
    padding-left: 0px;
}

.not-padding-right {
    padding-right: 0px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}


.form-control-small {
    width: 89% !important;
    height: 25px !important;
    font-size: 11px !important;
}

.badge.check_out, .badge.reservation-state-4{
    background:#75C659;
}

.exempt {
    color:#132b45;
}


#invoice-files li {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 35px;
}


.panel-details .dl-horizontal dt {
    width: 37%;
}

dl.dl-horizontal dt, dl.dl-horizontal dd {
    line-height: 180%;
}

.horizontal dd {
    line-height: 180%;
}

.dl-horizontal {
    margin-bottom: 0px !important;
}

.dl-horizontal dd {
    margin-left: 40%;
}

dd {
    word-wrap: break-word;
}
dd {
    margin-left: 0;
}
#historical-reservations{
    border: 1px solid #ddd;
}

#historical-reservations tbody {
    cursor: pointer;
}

.th-border {
    border-bottom: 1px solid #ddd !important;
}

table.dataTable.display tbody td {
    border-top: none !important; 
}

table>tbody>tr.shown>.th-border {
    font-weight: bold !important;
    border-bottom: 0px !important;
}

table>tbody>tr.shown {
    background-color: #E7FBFB !important;
    border-bottom: none !important;
}

table>tbody>tr.shown>td.sorting_1 {
    background-color: #E7FBFB !important;
    border-bottom: none !important;
}



.panel-background-color>td {
    background-color: #E7FBFB;
    border-bottom: #ddd solid 1px;
}

.panel.no-margin.no-border.well {
    background-color: #fff;
}

th.dt-body-center {
    text-align: center;
}

.panel-heading {
    color: #333333;
    background-color: transparent;
    padding: 8px;
    border-bottom: solid 1px;
}

.well-sn {
    background-color: #fff !important;
    min-height: 20px;
    padding: 12px;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}


.panel-sn {

    background-color: #fff;
}

.smart-form .col-3 {
    width: 25%;
}
.smart-form .col {
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.smart-form section {
    margin-bottom: 15px;
    position: relative;
}
.smart-form *, .smart-form :after, .smart-form :before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.smart-form .label {
    display: block;
    margin-bottom: 6px;
    line-height: 19px;
    font-weight: 400;
    font-size: 13px;
    color: #333;
    text-align: left;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.text-align-right {
    text-align: right;
    padding-right: 20px;

}

.error {
    color: #d43f3a;
}

.menu-dashboard {
    background: #f6f6f6;
    color: #BECFE0;
    font-size: 11px;
    text-align: center;
}
.row.menu-dashboard div{
    padding-left: 0px !important;
}
.menu-dashboard a {
    color: #5a5959;
    line-height: 50px;
    font-size: 14px;
    display: block;
    position: relative;
}

.menu-dashboard a.active {
    line-height: 50px;
    font-size: 14px;
    background: #142B45;
    color: #80fffd;
}

.dropdown-menu.dashboard {
    background-color: #dfdfdf !important;
}

.dropdown-menu.dashboard>li>a {

}

.dropdown-menu.dashboard>li>a {

    height: 70px;
    padding-top: 22px;
}

.dropdown-menu.dashboard>li>a:hover {

}

.room-types-show-more-fixed {
    position: inherit;
}

.room-types-show-more {
    position: absolute;
}


.dl-horizontal dt {
    line-height: 33px;
    text-align: left;
    width: 175px;
}

.dl-horizontal dd {
    line-height: 30px;
    margin-left: 180px;
}

.btn.btn-xs.no-display {
    display: none;
}

.btn.btn-xs {
    display: inline-block;
}

dl.dl-horizontal dt.download-item, dl.dl-horizontal dd.download-item  {
    line-height: 32px;
}

a.download-item {
    color: #142b45;
    line-height: 40px;
}

a.download-item:hover {
    color: #80fffd;
}

.tc-ugly-blue {
    color: #52c6c8 !important;
}
